.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  transition: all .5s;
}

.header {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor-logo-titulo {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  background:url(./logo/logo-taskify.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.contenedor-tema {
  border-bottom: 1px solid var(--color-white);
  width: 2.5rem;
  padding: .3rem 0;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.contenedor-tema p {
  font-size: .8rem;
  line-height: .9;
}

.contenedor-lista {
  width: 80%;
}

.input {
  width: 100%;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
  padding: .5rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: transparent;
}

.bloque-tarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

/* ------------------------------------- */

.tarea {
  background-color: var(--color-white);
  color: var(--color-base-black);
  width: 100%;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  transition: all .5s;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid var(--color-white);
  min-height: 4.5rem;
  font-weight: 700;
}

.tarea p {
  width: 80%;
  user-select: none;
}

.nota {
  background-color: white;
  transition: all .5s;
}

.estadoNota {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.terminado {
  background-color: var(--color-tarea-terminada);
  transition: all .5s;
  user-select: none;
}

.terminado p {
  text-decoration: line-through;
}

.estado,
.eliminar-nota {
  cursor: pointer;
  user-select: none;
  padding: .2rem;
}

/* ..................................... */

.app-oscuro {
  background-color: var(--color-base-black);
  color: var(--color-white);
  border-color: none;
}

.logo-oscuro {
  width: 40px;
  height: 40px;
  background:url(./logo/logo-taskify-oscuro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  transition: all .5s;
}

.tarea-oscuro {
  background-color: rgba(255, 255, 255, 0.719);
}

.tarea-oscuro.terminado {
  background-color: var(--color-terminado-oscuro);
  transition: all .5s;
  user-select: none;
  border-color: transparent;
}

.contenedor-tema-oscuro {
  justify-content: flex-end;
}

.input-oscuro {
  border-color: var(--color-white);
  color: var(--color-white);
}